/* * {
    font-family: "Muli-Regular", sans-serif !important;
} */

.t-12 {
    font-size: 12px;
    font-weight: 600;
    color: black;
}

.calenderLogo {
    position: absolute;
    top: 0;
    right: 20px;
}

input[type=radio] {
    width: 15px;
    height: 15px;
}

/* input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: 1;
    left: 1;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid gray;
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    top: 0;
    left: 0;
    position: relative;
    background-color: #3E454C;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid gray;
} */

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: #3E454C;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.highlighted {
    background-color: rgba(176, 234, 241, 0.5) !important;
}

.select-patient:hover {
    background: rgba(176, 234, 241, 0.5);
    /* opacity: 0.5; */
}

.scroll {
    /* width: 700px !important; */
    height: 45vh !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 2px;
}

.scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F7F7F7;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #53B9C6;
}

/* .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-menu-item {
    line-height: 25px;
    height: 25px;
    font-size: 11px;
    padding: 0px 0px 0px 5px !important;
  } */

/* thead tr th {
    font-size: 14px;
} */

/* .th-style {
    font-family: 'Muli' !important;
    font-weight: 300 !important;
    font-style: normal !important;
} */

::ng-deep .bs-popover-bottom {
    /* transform: translate(3px, 134px) !important; */
    width: 30% !important;
    max-width: 30% !important;
}

.mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

::ng-deep .mat-step-text-label {
    white-space: pre-wrap;
    text-overflow: initial !important;
    font-size: 13px !important;
    font-weight: 500;
    overflow: visible !important;
}

::ng-deep .mat-horizontal-content-container {
    /* height: 65vh !important; */
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    background: white !important;
}

.label1 {
    font-size: 14px;
    font-weight: 600;
    color: #140202;
}

::ng-deep .mat-tab-body-content {
    background-color: #F8FCFD;
    padding-bottom: 100px;
}

.s1 {
    margin: 0 30px !important;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    table thead tr th {
        font-family: 'Muli' !important;
        font-weight: 300 !important;
        font-size: 11px !important;
        vertical-align: middle;
        white-space: nowrap;
        color: #ffffff;
        letter-spacing: 0px;
        opacity: 1;
    }
    .test-result-table thead tr th {
        font-family: 'Muli' !important;
        font-weight: 600 !important;
        font-size: 11px !important;
        vertical-align: middle;
        white-space: nowrap;
        color: #ffffff;
        letter-spacing: 0px;
        opacity: 1;
    }
    table tbody tr td .t-name {
        font-family: 'Muli' !important;
        font-weight: 600 !important;
        font-size: 11px !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        white-space: nowrap;
        text-align: center;
    }
    table tbody tr td .bt-name {
        font-family: 'Muli' !important;
        font-weight: bold !important;
        font-size: 11px !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        white-space: nowrap;
        text-align: center;
    }
    table tbody tr td {
        vertical-align: middle;
    }
    /* ::ng-deep .bs-popover-bottom {
        transform: translate(3px, 134px) !important;
        width: 60% !important;
        max-width: 60% !important;
    } */
    ::ng-deep .bs-popover-bottom {
        /* transform: translate(3px, 134px) !important; */
        will-change: transform;
        transform: translate(10px, 175px) !important;
        width: 95% !important;
        max-width: 95% !important;
    }
    .pop-data {
        font-size: 10px;
        font-family: 'Muli' !important;
        font-weight: bold !important;
        white-space: nowrap;
    }
    .pop-data1 {
        font-size: 10px;
        font-family: 'Muli' !important;
        font-weight: 500 !important;
    }
    .swiper-slide {
        width: 38%;
        text-align: center;
        font-size: 12px;
        background: #fff;
        /* Center slide text vertically */
        /* display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-button-prev:after {
        color: #AAA6A6 !important;
        opacity: 1;
        font-size: 25px !important;
    }
    .swiper-button-next:after {
        color: #AAA6A6 !important;
        opacity: 1;
        font-size: 25px !important;
    }
    .s1 {
        margin: 0 0 0 10px !important;
    }
    tbody tr td .row {
        flex-wrap: nowrap;
    }
    tbody tr .menu {
        white-space: nowrap !important;
    }
    tbody tr td .pat-img {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
    }
    tbody tr td button .crossImg {
        width: 0.20rem;
    }
    .mat-menu-item {
        line-height: 20px;
        height: 20px;
        font-size: 8px;
        padding: 0px 0px 0px 5px !important;
    }
    .border-rt {
        border-right: none;
    }
    .search-box-width {
        width: 100% !important;
    }
    .tick-mark {
        width: 0.8rem !important;
    }
    .pt-img {
        padding: 15px !important;
        border-radius: 50% !important;
        min-width: 65px !important;
        min-height: 65px !important;
        max-height: 65px !important;
        max-width: 65px !important;
        width: 65px !important;
        height: 65px !important;
    }
    .pt-name {
        font-family: "Muli";
        font-size: 11px !important;
        font-weight: bold !important;
        color: #140202 !important;
        white-space: nowrap !important;
    }
    .pt-age {
        font-family: "Muli";
        font-size: 11px !important;
        font-weight: 600 !important;
        color: #140202 !important;
        white-space: nowrap !important;
    }
    .gd-icon {
        width: 1rem !important;
        min-width: 1rem !important;
    }
    .pt-id {
        font-family: "Muli";
        font-size: 9px !important;
        font-weight: 500 !important;
        color: #8B8B8B !important;
    }
    .btwn-patient {
        padding: 0px 0px 0px 5px !important;
    }
    .device-img {
        width: 5rem !important;
        min-height: 5rem !important;
    }
    .tick-icon {
        width: 0.8rem !important;
    }
    .tick-icon-alignment {
        position: absolute;
        left: 3px;
    }
    .butn-styl {
        font-size: 7px !important;
        font-weight: 500 !important;
        background: #55B9C6 !important;
        color: white !important;
    }
    .butn-styl1 {
        font-size: 7px !important;
        font-weight: 500 !important;
    }
    .butn-styl2 {
        font-size: 7px !important;
        font-weight: 500 !important;
    }
    .t-18 {
        font-family: "Muli" !important;
        font-size: 12px;
        font-weight: 600;
        color: #140202;
        white-space: nowrap;
    }
    .t-14 {
        font-family: "Muli" !important;
        font-size: 10px;
        font-weight: 600;
        color: #140202;
        white-space: nowrap;
    }
    .t-13bold {
        font-family: "Muli" !important;
        font-size: 10px !important;
        font-weight: 600 !important;
        letter-spacing: 0px !important;
        color: #000000 !important;
        opacity: 1 !important;
    }
    .t-13normal {
        font-family: "Muli" !important;
        font-size: 9px !important;
        font-weight: 600 !important;
        letter-spacing: 0px !important;
        color: #000000 !important;
        opacity: 1 !important;
    }
    .test-img-1-padding {
        padding: 5px 5px;
        text-align: center;
    }
    .test-img-3-padding {
        padding: 16px 5px;
        text-align: center;
    }
    .test-1-img {
        width: 2rem !important;
        padding-bottom: 8px;
        margin: auto;
    }
    .test-2-img {
        /* width: 4.5rem !important; */
        min-width: 4.5rem !important;
        margin-left: 5px;
        padding-bottom: 20px;
    }
    .test-3-img {
        min-width: 5rem;
        margin-left: -12px;
    }
    .test-img-text {
        text-align: center;
        font-size: 8px;
        font-weight: 500;
        color: #000000;
        padding-bottom: 25px;
    }
    .test-img-3-text {
        text-align: center;
        font-size: 8px;
        font-weight: 500;
        color: #000000;
        padding: 10px 0 0 0;
    }
    .test-ready-head {
        padding: 0 !important;
    }
    ::ng-deep .mat-step-text-label {
        font-size: 10px !important;
        font-weight: bolder !important;
        font-family: "Muli";
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .get-sample-head {
        font-family: "Muli";
        font-size: 11px;
        font-weight: bold;
        padding: 15px;
        letter-spacing: 0px;
        color: #140202;
        opacity: 1;
    }
    .btn-text-style-1 {
        font-family: "Muli";
        font-size: 11px;
        font-weight: normal;
        letter-spacing: 0px;
        opacity: 1;
        outline-style: none;
        background-color: transparent;
        padding: 0 25px;
        color: #474747;
        border: 1px solid #707070;
        height: 25px;
        line-height: 1;
        border-radius: 10px;
    }
    .btn-text-style-2 {
        font-family: "Muli";
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 0px;
        opacity: 1;
        outline-style: none;
        background-color: #53B9C6;
        padding: 0 30px;
        color: white;
        height: 25px;
        line-height: 1;
        border-radius: 10px;
    }
    .modal-title {
        font-family: "Muli";
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0px;
    }
    .modal-body-data {
        font-family: "Muli";
        font-size: 10px;
        font-weight: 500;
        color: #000000;
    }
    .file-img {
        max-width: 1rem;
        margin-right: 1.2rem;
    }
    .share-img {
        max-width: 1.3rem;
    }
    .test-head-data {
        display: block;
        line-height: 0%;
    }
    .test-head-icons {
        display: flex;
        line-height: 3;
        margin-right: auto;
    }
    .table-data {
        font-family: 'Muli' !important;
        font-weight: normal !important;
        font-size: 11px !important;
        vertical-align: middle;
        white-space: nowrap;
        color: #140202;
        letter-spacing: 0px;
        opacity: 1;
    }
    .before-pop-icon {
        width: 0.5rem;
        height: 0.4rem;
        margin-top: 6px;
        margin-left: 5px;
    }
    ::ng-deep .mat-tab-label .mat-tab-label-content {
        font-family: 'Muli' !important;
        font-size: 11px;
        font-weight: bold;
        color: #2C3136;
    }
    .component-heading {
        font-family: 'Muli' !important;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #3E454C;
        border-bottom: 1px solid gray;
        width: 100%;
        opacity: 1;
    }
    .label2 {
        font-family: "Muli";
        font-size: 11px;
        font-weight: 600;
        color: #000000;
    }
    /* .small-screen {
        text-align: center;
    } */
    .value2 {
        font-family: "Muli";
        font-size: 10px;
        font-weight: 500;
        color: #000000;
        line-height: 3;
        padding-left: 50px;
        line-break: anywhere !important;
    }
    .value2dt {
        height: 25px;
        font-family: "Muli";
        font-size: 12px;
        font-weight: 500;
        color: #000000;
    }
    .value2 input {
        height: 25px !important;
        background: transparent;
        border: 1px solid #CCCCCC;
        opacity: 1;
        border-radius: 0.25rem;
        padding: 10px;
    }
    .value2-width {
        width: 70%;
    }
    .input-group input {
        height: 25px !important;
        background: transparent;
        border: 1px solid #CCCCCC;
        opacity: 1;
        padding: 10px;
    }
    .input-group-append {
        height: 25px !important;
        border-radius: 0 0.25rem 0.25rem 0;
        background: transparent;
        border: 1px solid #CCCCCC;
        opacity: 1;
    }
    /* .radio-inline {
        padding: 0 10px 0 0;
    } */
    .radio-btn-right {
        margin-right: auto;
    }
    .search-text {
        font-family: "Muli";
        font-size: 13px !important;
        font-weight: 600 !important;
        color: #171819 !important;
        opacity: 1;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    table thead tr th {
        font-family: 'Muli' !important;
        font-weight: 300 !important;
        font-size: 12px !important;
        vertical-align: middle;
        white-space: nowrap;
        color: #ffffff;
        letter-spacing: 0px;
        opacity: 1;
    }
    table tbody tr td .t-name {
        font-family: 'Muli' !important;
        font-weight: 600 !important;
        font-size: 12px !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        white-space: nowrap;
        text-align: center;
    }
    table tbody tr td {
        vertical-align: middle;
    }
    /* ::ng-deep .bs-popover-bottom {
        transform: translate(3px, 134px) !important;
        width: 60% !important;
        max-width: 60% !important;
    } */
    ::ng-deep .bs-popover-bottom {
        /* transform: translate(3px, 134px) !important; */
        will-change: transform;
        transform: translate(12px, 175px) !important;
        width: 70% !important;
        max-width: 70% !important;
    }
    .pop-data {
        font-size: 12px;
        font-family: 'Muli' !important;
        font-weight: bold !important;
        white-space: nowrap;
    }
    .pop-data1 {
        font-size: 12px;
        font-family: 'Muli' !important;
        font-weight: 500 !important;
    }
    tbody tr td .row {
        flex-wrap: nowrap;
    }
    tbody tr .menu {
        white-space: nowrap !important;
    }
    tbody tr td .pat-img {
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
    }
    tbody tr td button .crossImg {
        width: 0.24rem;
    }
    .mat-menu-item {
        line-height: 20px;
        height: 20px;
        font-size: 8px;
        padding: 0px 0px 0px 5px !important;
    }
    .border-rt {
        border-right: none;
    }
    .search-box-width {
        width: 100%;
    }
    .tick-mark {
        width: 0.8rem !important;
    }
    .pt-img {
        padding: 15px !important;
        border-radius: 50% !important;
        min-width: 65px !important;
        min-height: 65px !important;
        max-height: 65px !important;
        max-width: 65px !important;
        width: 65px !important;
        height: 65px !important;
    }
    .pt-name {
        font-family: "Muli";
        font-size: 12px !important;
        font-weight: bold !important;
        color: #140202 !important;
        white-space: nowrap !important;
    }
    .pt-age {
        font-family: "Muli";
        font-size: 11px !important;
        font-weight: 600 !important;
        color: #140202 !important;
        white-space: nowrap !important;
    }
    .gd-icon {
        width: 1rem !important;
        min-width: 1rem !important;
    }
    .pt-id {
        font-family: "Muli";
        font-size: 10px !important;
        font-weight: 600 !important;
        color: #8B8B8B !important;
    }
    .btwn-patient {
        padding: 0px 0px 0px 5px !important;
    }
    .device-img {
        width: 5rem !important;
        min-height: 5rem !important;
    }
    .tick-icon {
        width: 0.8rem !important;
    }
    .tick-icon-alignment {
        position: absolute;
        left: 3px;
    }
    .butn-styl {
        font-size: 8px;
        font-weight: 500;
        background: #55B9C6;
        color: white;
    }
    .device-name {
        font-size: 8px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    table thead tr th {
        font-family: 'Muli' !important;
        font-weight: 300 !important;
        font-size: 12px !important;
        vertical-align: middle;
        white-space: nowrap;
        color: #ffffff;
        letter-spacing: 0px;
        opacity: 1;
    }
    table tbody tr td .t-name {
        font-family: 'Muli' !important;
        font-weight: 600 !important;
        font-size: 12px !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        white-space: nowrap;
        text-align: center;
    }
    table tbody tr td {
        vertical-align: middle;
    }
    ::ng-deep .bs-popover-bottom {
        /* transform: translate(3px, 134px) !important; */
        will-change: transform;
        transform: translate(12px, 175px) !important;
        width: 60% !important;
        max-width: 60% !important;
    }
    .pop-data {
        font-size: 11px;
        font-family: 'Muli' !important;
        font-weight: bold !important;
        white-space: nowrap;
    }
    .pop-data1 {
        font-size: 12px;
        font-family: 'Muli' !important;
        font-weight: 500 !important;
    }
    tbody tr td .row {
        flex-wrap: nowrap;
    }
    tbody tr .menu {
        white-space: nowrap !important;
    }
    tbody tr td .pat-img {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
    }
    tbody tr td button .crossImg {
        width: 0.28rem;
    }
    .mat-menu-item {
        line-height: 22px;
        height: 22px;
        font-size: 9px;
        padding: 0px 0px 0px 5px !important;
    }
    .border-rt {
        border-right: 1px solid #707070;
    }
    .search-box-width {
        width: 90%;
    }
    .tick-mark {
        width: 0.8rem !important;
    }
    .pt-img {
        padding: 15px !important;
        border-radius: 50% !important;
        min-width: 60px !important;
        min-height: 60px !important;
        max-height: 60px !important;
        max-width: 60px !important;
        width: 60px !important;
        height: 60px !important;
    }
    .pt-name {
        font-size: 12px !important;
        font-weight: 600 !important;
        color: #140202 !important;
        white-space: nowrap !important;
    }
    .pt-age {
        white-space: nowrap !important;
    }
    .gd-icon {
        width: 0.8rem !important;
    }
    .pt-id {
        font-size: 11px !important;
        font-weight: 600 !important;
        color: #8B8B8B !important;
    }
    .btwn-patient {
        padding: 0px 0px 0px 5px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .th-style {
        font-family: 'Muli' !important;
        font-weight: 300 !important;
        font-style: normal !important;
        font-size: 15px !important;
        vertical-align: middle;
        white-space: nowrap;
        color: #ffffff;
        letter-spacing: 0px;
        opacity: 1;
    }
    table tbody tr td .t-name {
        font-family: 'Muli' !important;
        font-weight: 600 !important;
        font-size: 14px !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        white-space: nowrap;
        text-align: center;
    }
    table tbody tr td {
        vertical-align: middle;
    }
    ::ng-deep .bs-popover-bottom {
        transform: translate(32px, 144px) !important;
        width: 50% !important;
        max-width: 45% !important;
    }
    .pop-data {
        font-size: 12px;
        font-family: 'Muli' !important;
        font-weight: bold !important;
        white-space: nowrap;
    }
    .pop-data1 {
        font-size: 12px;
        font-family: 'Muli' !important;
        font-weight: 500 !important;
    }
    tbody tr td .row {
        flex-wrap: nowrap;
    }
    tbody tr .menu {
        white-space: nowrap !important;
    }
    tbody tr td .pat-img {
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
    }
    tbody tr td button .crossImg {
        width: 0.30rem;
    }
    .pop-data {
        font-weight: 500;
        font-size: 12px;
    }
    .mat-menu-item {
        line-height: 25px;
        height: 25px;
        font-size: 11px;
        padding: 0px 0px 0px 5px !important;
    }
    .border-rt {
        border-right: 1px solid #707070;
    }
    .search-box-width {
        width: 75%;
    }
    .tick-mark {
        width: 1rem !important;
    }
    .pt-img {
        padding: 15px !important;
        border-radius: 50% !important;
        min-width: 70px !important;
        min-height: 70px !important;
        max-height: 70px !important;
        max-width: 70px !important;
        width: 70px !important;
        height: 70px !important;
    }
    .pt-name {
        font-size: 13px !important;
        font-weight: 600 !important;
        color: #140202 !important;
        white-space: nowrap !important;
    }
    .pt-age {
        white-space: nowrap !important;
    }
    .gd-icon {
        width: 1rem !important;
    }
    .pt-id {
        font-size: 12px !important;
        font-weight: 600 !important;
        color: #8B8B8B !important;
    }
    .btwn-patient {
        padding: 0px 0px 0px 5px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    table thead tr th {
        font-family: 'Muli' !important;
        font-weight: 300 !important;
        font-size: 14px !important;
        vertical-align: middle;
        white-space: nowrap;
        color: #ffffff;
        letter-spacing: 0px;
        opacity: 1;
    }
    .test-result-table thead tr th {
        font-family: 'Muli' !important;
        font-weight: 600 !important;
        font-size: 14px !important;
        vertical-align: middle;
        white-space: nowrap;
        color: #ffffff;
        letter-spacing: 0px;
        opacity: 1;
    }
    table tbody tr td .t-name {
        font-family: 'Muli' !important;
        font-weight: 600 !important;
        font-size: 13px !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        white-space: nowrap;
        text-align: center;
    }
    table tbody tr td .bt-name {
        font-family: 'Muli' !important;
        font-weight: bold !important;
        font-size: 13px !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        white-space: nowrap;
        text-align: center;
    }
    table tbody tr td {
        vertical-align: middle;
    }
    .label2 {
        font-family: "Muli";
        font-size: 14px;
        font-weight: 600;
        color: #000000;
    }
    .value2 {
        font-family: "Muli";
        font-size: 14px;
        font-size: 500;
        color: #000000;
    }
    .value2 input {
        height: 30px;
        background: transparent;
        border: 1px solid #CCCCCC;
        border-radius: 0.25rem;
        opacity: 1;
        padding: 10px;
    }
    .value2dt {
        height: 30px;
        font-family: "Muli";
        font-size: 12px;
        font-weight: 500;
        color: #000000;
    }
    .value2-width {
        width: 40%;
    }
    .input-group input {
        height: 30px !important;
        background: transparent;
        border: 1px solid #CCCCCC;
        border-radius: 0.25rem;
        opacity: 1;
        padding: 10px;
    }
    .input-group-append {
        height: 30px !important;
        border-radius: 0 0.25rem 0.25rem 0;
        background: transparent;
        border: 1px solid #CCCCCC !important;
        /* border-left: none !important; */
        opacity: 1;
    }
    .test-ready-head {
        padding: 0 15px 0 0 !important;
    }
    .swiper-button-prev:after {
        color: #AAA6A6 !important;
        opacity: 1;
        font-size: 35px !important;
    }
    .swiper-button-next:after {
        color: #AAA6A6 !important;
        opacity: 1;
        font-size: 35px !important;
    }
    .s1 {
        margin: 0 30px !important;
    }
    ::ng-deep popover-body {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #DEDEDE;
        opacity: 1;
        padding: 10px 20px !important;
    }
    ::ng-deep .bs-popover-bottom {
        transform: translate(24px, 150px) !important;
        width: 30% !important;
        max-width: 30% !important;
    }
    .pop-data {
        font-size: 11px;
        font-family: 'Muli' !important;
        font-weight: 600 !important;
        white-space: nowrap;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .pop-data1 {
        font-size: 11px;
        font-family: 'Muli' !important;
        font-weight: normal !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        padding-bottom: 7px;
    }
    tbody tr td .row {
        flex-wrap: nowrap;
    }
    tbody tr .menu {
        white-space: nowrap !important;
    }
    tbody tr td .pat-img {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
    }
    tbody tr td button .crossImg {
        width: 0.32rem;
    }
    .swiper-slide {
        width: 26%;
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        /* display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .mat-menu-item {
        line-height: 25px;
        height: 25px;
        font-size: 11px;
        padding: 0px 0px 0px 5px !important;
    }
    .border-rt {
        border-right: 1px solid #707070;
    }
    .search-box-width {
        width: 75%;
    }
    .tick-mark {
        width: 1rem !important;
    }
    .pt-img {
        padding: 15px !important;
        border-radius: 50% !important;
        min-width: 70px !important;
        min-height: 70px !important;
        max-height: 70px !important;
        max-width: 70px !important;
        width: 70px !important;
        height: 70px !important;
    }
    .pt-name {
        font-family: "Muli";
        font-size: 13px !important;
        font-weight: bold !important;
        color: #140202 !important;
        white-space: nowrap !important;
    }
    .pt-age {
        font-family: "Muli";
        font-size: 12px !important;
        font-weight: 600 !important;
        color: #000000 !important;
        white-space: nowrap !important;
    }
    .gd-icon {
        width: 1rem !important;
    }
    .pt-id {
        font-size: 11px !important;
        font-weight: 600 !important;
        color: #8B8B8B !important;
    }
    .search-text {
        font-family: "Muli";
        font-size: 15px !important;
        font-weight: 600 !important;
        color: #171819 !important;
        opacity: 1;
    }
    .btwn-patient {
        padding: 0px !important;
    }
    .device-img {
        width: 9rem !important;
        min-height: 9rem !important;
    }
    .tick-icon {
        width: 1rem !important;
    }
    .tick-icon-alignment {
        position: absolute;
        left: 14px;
    }
    .butn-styl {
        font-size: 11px !important;
        font-weight: 500 !important;
        background: #55B9C6 !important;
        color: white !important;
    }
    .butn-styl1 {
        font-size: 11px !important;
        font-weight: 500 !important;
    }
    .butn-styl2 {
        font-size: 11px !important;
        font-weight: 500 !important;
    }
    .device-name {
        font-size: 10px;
    }
    .t-18 {
        font-family: "Muli" !important;
        font-size: 18px;
        font-weight: 600;
        color: #140202;
        white-space: nowrap;
    }
    .t-14 {
        font-family: "Muli" !important;
        font-size: 14px;
        font-weight: 600;
        color: #140202;
        white-space: nowrap;
    }
    .t-13bold {
        font-family: "Muli" !important;
        font-size: 12px !important;
        font-weight: bold !important;
        letter-spacing: 0px !important;
        color: #000000 !important;
        opacity: 1 !important;
    }
    .t-13normal {
        font-family: "Muli" !important;
        font-size: 11px !important;
        font-weight: 500 !important;
        letter-spacing: 0px !important;
        color: #000000 !important;
        opacity: 1 !important;
    }
    .test-img-1-padding {
        padding: 15px;
        align-items: center;
    }
    .test-img-3-padding {
        padding: 15px;
        align-items: center;
    }
    .test-1-img {
        width: 3.4rem;
        padding-bottom: 8px;
    }
    .test-2-img {
        width: 6.5rem;
        margin-right: -40px;
    }
    .test-3-img {
        width: 10rem;
    }
    .test-img-text {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: #000000;
        padding-bottom: 25px;
    }
    .test-img-3-text {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: #000000;
        padding-bottom: 9px;
    }
    ::ng-deep .mat-step-text-label {
        font-size: 15px !important;
        font-weight: normal !important;
        font-family: "Muli";
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .get-sample-head {
        font-family: "Muli";
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        padding: 15px;
        letter-spacing: 0px;
        opacity: 1;
    }
    .btn-text-style-1 {
        font-family: "Muli";
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0px;
        opacity: 1;
        outline-style: none;
        background-color: transparent;
        padding: 0 25px;
        color: #474747;
        border: 1px solid #707070;
        height: 30px;
        line-height: 1;
        border-radius: 10px;
    }
    .btn-text-style-2 {
        font-family: "Muli";
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0px;
        opacity: 1;
        outline-style: none;
        background-color: #53B9C6;
        padding: 0 30px;
        color: white;
        height: 30px;
        line-height: 1;
        border-radius: 10px;
    }
    .modal-title {
        font-family: "Muli";
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0px;
    }
    .modal-body-data {
        font-family: "Muli";
        font-size: 14px;
        font-weight: 500;
        color: #000000;
    }
    .file-img {
        max-width: 1.3rem;
        margin-right: 1.5rem;
    }
    .share-img {
        max-width: 1.5rem;
    }
    .test-head-data {
        display: flex;
    }
    .test-head-icons {
        display: flex;
        line-height: 3;
        margin-right: 20px;
    }
    .table-data {
        font-family: 'Muli' !important;
        font-weight: normal !important;
        font-size: 14px !important;
        vertical-align: middle;
        white-space: nowrap;
        color: #140202;
        letter-spacing: 0px;
        opacity: 1;
    }
    .before-pop-icon {
        width: 0.5rem;
        height: 0.5rem;
        margin-top: 6px;
    }
    ::ng-deep .mat-tab-label .mat-tab-label-content {
        font-family: 'Muli' !important;
        font-size: 15px;
        font-weight: bold;
        color: #2C3136;
    }
    .component-heading {
        font-family: 'Muli' !important;
        font-size: 16px;
        font-weight: 600;
        color: #3E454C;
        letter-spacing: 0px;
        border-bottom: 1px solid gray;
        width: 100%;
        opacity: 1;
    }
    /* input::-webkit-input-placeholder {
        font-size: 16px;
        font-family: 'Muli' !important;
        line-height: 3;
        letter-spacing: 0px;
        color: #8D8D8D;
        opacity: 1;
    } */
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background: #53B9C6;
    height: 3px;
}

::ng-deep .mat-select-trigger {
    /* border: 1px solid rgb(200, 200, 200); */
    /* border-radius: 5px; */
    border: transparent;
    padding: 5px;
}

/* .swiper-container {
    width: 100%;
    height: 80%;
} */

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-right: 1px solid black;
    margin-right: 0px !important;
}

.swiper-button-next {
    right: 20px;
}

.swiper-button-prev {
    left: 20px;
} */

.swiper-container {
    width: 100%;
    height: 100%;
}

/* .swiper-slide {
    width: 26%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
} */

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #53B9C6 !important;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: #53B9C6 !important;
}

/* .t-name {
    font-weight: 600;
    font-size: 14px;
} */

/* .pop-data {
    font-weight: 500;
    font-size: 12px;
} */

::ng-deep .my-panel {
    background: #F9F9F9;
    box-shadow: 0px 3px 6px #00000029;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 160px !important;
    width: 160px !important;
    margin-top: 30px !important;
    margin-left: 60px !important;
}