<div class="d-flex bd-highlight">
    <div class="container-fluid bd-highlight" style="width: 180%;">
        <div class="" style="text-align: center;display: flex;
        justify-content: center;align-items: flex-end;margin-top: 65vh;">
            <div class="row" style="display: flex;justify-content: space-around;position: relative;">
                <!--margin-bottom: 60px;-->
                <div style="width: 20%;">
                    <img style="margin-top: -40px;" src="../../../../assets/images/doctor-online.png">
                </div>
                <div style="
                border-radius: 50px;
                background: #3E454C 0% 0% no-repeat padding-box;
                padding: 0 40px;height: fit-content;
                margin-top: 20px;margin-left: -40px;">
                    <ol style="display: flex;padding: 6px;list-style-type: none;">
                        <li style="">
                            <img style="width: 2rem;"
                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/voice@2x.png">
                        </li>
                        <li>
                            <img style="width: 2rem;"
                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/video@2x.png">
                        </li>
                        <li>
                            <img style="width: 2rem;"
                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/chat@2x.png">
                        </li>
                        <li>
                            <img style="width: 2rem;" (click)="closeModel()"
                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/call-end@2x.png">
                        </li>
                    </ol>
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 bd-highlight" style="width: 100%;">
        <div class="" style="padding: inherit;">
            <!--padding: 0px !important;margin: 0px !important;-->
            <div class="container" style="border-bottom: 1px solid  #707070;
            margin-bottom: 5px;">
                <div class="row" style="justify-content: space-around;
                padding-bottom: 11px;
                padding-top: 11px;">
                    <div class="col-md-3"
                        style="border-radius: 50% !important;width: 70px;height: 70px;padding: 0px 5px 0px 13px;">
                        <img class="" style=" border-radius: 50%;width: 70px;height: 70px;
                            min-width: 70px;min-height: 70px;"
                            src="{{baseURL+patient.patient.patientDetails.profilePic}}"
                            onerror="this.src='../../../assets/images/ui/Icons/1x/profile-1.png';">
                        <!--border: 2px solid rgb(87, 92, 94);-->
                    </div>
                    <div class="col-md-9" style="padding: 5px 5px 5px 25px;">
                        <div class="row chat-header" style="height: 20px;">
                            <div class="col"
                                style="font-size: 13px;font-weight: 600;color: #140202;white-space: nowrap;">
                                <!--text-transform: uppercase;-->
                                {{patient.patient.patientDetails.firstName}}
                                {{patient.patient.patientDetails.lastName}}</div>
                            <div class="col" style="line-height: 0;">
                                <div *ngIf="(patient.patient.patientDetails.gender) != 'Male'">
                                    <img style="width: 1rem;"
                                        src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon ionic-ios-female.png">
                                </div>
                                <div *ngIf="(patient.patient.patientDetails.gender) === 'Male'">
                                    <img style="width: 1rem;"
                                        src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon ionic-ios-male.png">
                                </div>
                            </div>
                        </div>
                        <div class="chat-header"
                            style="font-size: 12px;font-weight: 500;color: #53b9c6;padding: 4px 0px 4px 0px;">
                            {{patient.patient.patientDetails.emailID}}
                        </div>
                        <div class="chat-header" style="font-size: 12px;font-weight: 500;color: #919697;display: flex;">
                            {{patient.patient.patientDetails.age}} Yrs
                            &nbsp;&nbsp;&nbsp;
                            {{patient.patient.patientDetails.phoneNumber.phoneNumber}}
                            <div *ngIf="patient.patient.patientDetails.isOnline"
                                style="margin-left: 5px;color: rgb(11, 223, 11) !important;">Online</div>
                            <div *ngIf="!patient.patient.patientDetails.isOnline"
                                style="margin-left: 5px;color: orangered !important;">Offline</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="viewGeneralInfo">
                <div class="row"
                    style="justify-content: start;padding: 5px 0 5px 20px;background: #F1F1F1;font-size: 14px;font-weight: bold;">
                    General Information
                </div>
                <div style="height: 22vh;" style="padding: 5px;">
                    <div class="row" style="padding: inherit;">
                        <div class="col-md-6">
                            <div style="font-size: 12px;font-weight: bold;color: #140202;">Patient ID</div>
                            <div style="font-size: 11px;font-weight: 500;color: #919697;">
                                {{patient.patient.patientDetails.patientID}}</div>
                        </div>
                        <div class="col-md-6">
                            <div style="font-size: 12px;font-weight: bold;color: #140202;">Date of Birth</div>
                            <div style="font-size: 11px;font-weight: 500;color: #919697;">
                                {{patient.patient.patientDetails.dob | date:'dd/MM/yyyy'}}</div>
                        </div>
                    </div>
                    <div class="row" style="padding: inherit;">
                        <div class="col-md-12">
                            <div style="font-size: 12px;font-weight: bold;color: #140202;">Medical Record Number</div>
                            <div style="font-size: 11px;font-weight: 500;color: #919697;">
                                {{patient.patient.patientDetails.medical_record_id}}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: inherit;">
                        <div class="col-md-12">
                            <div style="font-size: 12px;font-weight: bold;color: #140202;">Address</div>
                            <div style="font-size: 11px;font-weight: 500;color: #919697;">
                                {{patient.patient.patientDetails.address}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"></div>
                    </div>
                </div>
                <div class="row"
                    style="justify-content: start;padding: 5px 0 5px 20px;background: #F1F1F1;font-size: 14px;font-weight: bold;">
                    Family History
                </div>
                <div class="" style="height: 15vh;">
                    <div *ngIf="!(patientFamilyHistory && patientFamilyHistory.length)" style="text-align: center;">
                        <span style="color: #140202;">Don't have Family History Records
                        </span>
                    </div>
                    <div class="row p-1 pl-3" *ngFor="
                            let patientFamilyData of patientFamilyHistory;
                            let i = index
                          ">
                        <div class="col-md-2 p-0">
                            <div class="text-center">
                                <img style="width: 0.6rem;"
                                    src="../../../assets/images/ui/Icons/patient-medical-module/Ellipse.png" />
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                            <div class="">
                                <span class="size11" style="color: #140202;">{{
                                patientFamilyData.dieseaseName ||
                                  patientFamilyData.healthCondition
                              }}</span>
                            </div>
                        </div>
                        <div class="col-md-5 p-0">
                            <div class="">
                                <span class="size11" style="color: #140202;">{{
                                patientFamilyData.relationship
                              }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"
                    style="justify-content: start;padding: 5px 0 5px 20px;background: #F1F1F1;font-size: 14px;font-weight: bold;">
                    Allergies
                </div>
                <div style="height: 15vh;">
                    <div>
                        <div *ngIf="!(patientFamilyAllergies && patientFamilyAllergies.length)"
                            style="text-align: center;">
                            <span style="color: #140202;">Don't have Allergies Records</span>
                        </div>

                        <div class="row p-1 pl-3" *ngFor="
                            let patientFamilyAllergie of patientFamilyAllergies;
                            let i = index
                          ">
                            <div class="col-md-2 p-0">
                                <div class="text-center">
                                    <img style="width: 0.6rem;"
                                        src="../../../assets/images/ui/Icons/patient-medical-module/Ellipse.png" />
                                </div>
                            </div>
                            <div class="col-md-6 p-0">
                                <div class="">
                                    <span class="size11" style="color: #140202;">{{
                                patientFamilyAllergie.allergyInformation ||
                                  patientFamilyAllergie.name
                              }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="viewPatientInfo">
                <div *ngIf="(!moveDiagnosticNotes)">
                    <div class="row"
                        style="justify-content: space-between;padding: 5px 18px 5px 20px;background: #F1F1F1;">
                        <div style="font-size: 14px;font-weight: bold;">Patient Information</div>
                        <img style="width: 1.5rem;cursor: pointer;" (click)="openDiagnosticNotes()"
                            src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon ionic-ios-arrow-dropright-circle.png">
                    </div>

                    <div>
                        <label class="p-info-label">Date</label>
                        <div class="p-info-div">
                            10/12/2020</div>
                    </div>
                    <div>
                        <label class="p-info-label">Time</label>
                        <div class="p-info-div">
                            10:00 AM</div>
                    </div>
                    <div>
                        <label class="p-info-label">Illness Condition</label>
                        <div class="p-info-div">
                            Diabetes</div>
                    </div>
                    <div>
                        <label class="p-info-label">Start Date</label>
                        <div class="p-info-div">
                            10/12/2020</div>
                    </div>
                    <div>
                        <label class="p-info-label">End Date</label>
                        <div class="p-info-div">
                            12/12/2020</div>
                    </div>
                    <div>
                        <label class="p-info-label">Symptoms</label>
                        <div class="p-info-div">
                            Weight gain</div>
                    </div>
                    <div>
                        <label class="p-info-label">Description</label>
                        <div class="p-info-div">
                            want togain waight</div>
                    </div>
                    <div>
                        <label class="p-info-label">Treatment</label>
                        <div class="p-info-div">
                            still continue</div>
                    </div>
                </div>
                <div *ngIf="(moveDiagnosticNotes)">
                    <div class="row"
                        style="justify-content: space-between;padding: 5px 18px 5px 20px;background: #F1F1F1;">
                        <img style="width: 1.5rem;cursor: pointer;" (click)="openPatientData()"
                            src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon ionic-ios-arrow-dropright-circle1@2x.png">
                        <div style="font-size: 14px;font-weight: bold;">Diagnostic Notes</div>
                        <img style="width: 1.5rem;cursor: pointer;" (click)="openPatientData()"
                            src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon ionic-ios-arrow-dropright-circle.png">
                    </div>
                    <div>
                        <label class="p-info-label">Date of Diagnosis</label>
                        <div class="p-info-div">
                            10/12/2020</div>
                    </div>
                    <div>
                        <label class="p-info-label">Doctor</label>
                        <div class="p-info-div">
                            Christopher</div>
                    </div>
                    <div>
                        <label class="p-info-label">Diagnosis</label>
                        <textarea rows="2" class="form-control"
                            style="padding: 2px 0 2px 10px; resize: none;font-size: 14px;font-weight: 500;color: #404041;border:1px solid #CCCCCC;">diagnosis</textarea>
                    </div>
                    <div>
                        <label class="p-info-label">Prescription</label>
                        <textarea rows="2" class="form-control"
                            style="padding: 2px 0 2px 10px; resize: none;font-size: 14px;font-weight: 500;color: #404041;border:1px solid #CCCCCC;">diagnosis prescription</textarea>
                    </div>
                    <div>
                        <label class="p-info-label">Remarks</label>
                        <textarea rows="2" class="form-control"
                            style="padding: 2px 0 2px 10px; resize: none;font-size: 14px;font-weight: 500;color: #404041;border:1px solid #CCCCCC;">diagnosis remarks</textarea>
                    </div>
                </div>

            </div>
            <div *ngIf="viewFiles">
                <div class="row" style="justify-content: space-between;padding: 5px 18px 5px 20px;background: #F1F1F1;">
                    <div style="font-size: 14px;font-weight: bold;">Files / Documents</div>
                    <img style="width: 1.5rem;cursor: pointer;"
                        src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon ionic-ios-add-circle.png">
                </div>
                <div style="justify-content: space-around;text-align: center;padding: 10px;">
                    <button class="btn btn-sm mr-2" style="width: min-content;height: 35px; background-color: #F5F5F5 ;
                    font-size: 13px;font-weight: 500;color: #000000;" (click)="openScreeningRecords()"
                        [ngClass]="{ 'isactive' : viewScreeningRecords }">Screening Report</button>
                    <button class="btn btn-sm" style="width: min-content;height: 35px; background-color: #F5F5F5 ;
                    font-size: 13px;font-weight: 500;color: #000000;" (click)="openOthers()"
                        [ngClass]="{ 'isactive' : !viewScreeningRecords }">Others</button>
                </div>
                <div *ngIf="(viewScreeningRecords)">
                    <div class="container-fluid">
                        <div class="row"
                            style="padding: 5px; border: 1px solid #CCCCCC;border-radius: 5px;justify-content: space-around;">
                            <div class="col-1" style="padding: inherit;">
                                <img style="width: 0.9rem;cursor: pointer;"
                                    src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon-awesome-file-alt.png">
                            </div>
                            <div class="col-9">
                                <div style="font-size: 13px;color: #503838;">filename</div>
                                <div style="font-size: 10px;color: #503838;">11/11/2020 10:00 AM</div>
                            </div>
                            <div class="col-1" style="padding: inherit;"><img style="width: 0.9rem;cursor: pointer;"
                                    src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon feather-download.png">
                            </div>
                            <div class="col-1" style="padding: inherit;"><img style="width: 0.9rem;cursor: pointer;"
                                    src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon material-delete.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="(!viewScreeningRecords)">
                    <div class="container-fluid">
                        <div class="row"
                            style="padding: 5px; border: 1px solid #CCCCCC;border-radius: 5px;justify-content: space-around;">
                            <div class="col-1" style="padding: inherit;">
                                <img style="width: 0.9rem; cursor: pointer;"
                                    src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon-awesome-file-alt.png">
                            </div>
                            <div class="col-9">
                                <div style="font-size: 13px;color: #503838;">filename</div>
                                <div style="font-size: 10px;color: #503838;">11/11/2020 10:00 AM</div>
                            </div>
                            <div class="col-1" style="padding: inherit;"><img style="width: 0.9rem;cursor: pointer;"
                                    src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon feather-download.png">
                            </div>
                            <div class="col-1" style="padding: inherit;"><img style="width: 0.9rem;cursor: pointer;"
                                    src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon material-delete.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="viewChat">
                <div>
                    <div class="scroll scrollingContainer chat-message-list" #mainScroll [scrollTop]="scrollTop">
                        <div *ngFor="let message of fetchedMessages; let i=index; last as isLast" #items>
                            <div class="message-row you-message" *ngIf="message.userID === userID">
                                <div class="message-content">
                                    <div style="display: flex;justify-self: normal;">
                                        <div class="you-message-time"> {{message.timeStamp | date: 'dd/MM h:mm a'}}
                                        </div>
                                        <div class="messager-you">You
                                        </div>
                                    </div>
                                    <div class="message-text box2 " [ngClass]="{'custom-margin': isLast}"
                                        style="background: rgba(199, 236, 234, 0.3);">
                                        <div style="text-align: end;margin-top: -2px;"><img class="menu"
                                                [matMenuTriggerFor]="menu" style="width: 0.7rem;cursor: pointer;"
                                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/down-arrow.png">
                                        </div>
                                        <div *ngIf="(message.type === 'reply')" (click)="moveToThisPosition(message,i)"
                                            style="background: #eed8be;border-radius: 5px;border-left: 4px solid #FFA500;
                                            padding: 0 0 0 5px;margin-bottom: 3px;">
                                            <div style="color: rgb(110, 108, 108);"
                                                *ngIf="!message.message1.startsWith('http')">
                                                <b>&quot;</b> {{message.message1}}</div>
                                            <div style="color: white;padding-top: 5px;"
                                                *ngIf="message.message1.startsWith('http')">
                                                <img style="border-radius: 10px;width: 3rem;height: 3rem;"
                                                    src="{{message.message1}}"
                                                    onerror="this.src='../../../../assets/images/ui/Icons/patient-medical-module/Icon metro-cancel@2x.png';">
                                            </div>
                                            <div style="color: #ff9100; font-size: 10px;font-weight: 600;">
                                                {{message.recipientRepliedName}}</div>
                                        </div>
                                        <div [ngClass]="{'custom-margin': isLast}"
                                            style="max-height: 200px;overflow-y: hidden;"
                                            *ngIf="(message.attachments && message.attachments.length)">
                                            <img src="{{baseURL+message.attachments[0].filePath}}"
                                                onerror="this.src='../../../../assets/images/ui/Icons/patient-medical-module/Icon metro-cancel@2x.png';"
                                                style="border-radius: 0px;">
                                            <!--width: 3rem;height: 3rem;-->
                                        </div>
                                        <div *ngIf="!message.attachments" style="margin-top: -4px;color: black;">
                                            {{message.message}}
                                        </div>

                                        <div *ngIf="(message.messageNotDelivered === true) && (message.type === 'regular') && (message.isRead === false) "
                                            style="margin-top: -4px; margin-bottom: -4px;text-align: end;">
                                            <img style="width:0.8rem"
                                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/tick-indicator.png">
                                        </div>

                                        <div *ngIf="(message.messageNotDelivered === false) && (message.type === 'reply') && (message.isRead === false) "
                                            style="margin-top: -4px; margin-bottom: -4px;text-align: end;">
                                            <img style="width:0.8rem"
                                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/tick-indicator.png">
                                        </div>

                                        <div *ngIf="(message.type === 'offline') && (message.isRead === !true) &&(message.messageNotDelivered === true)"
                                            style="margin-top: -4px; margin-bottom: -4px;text-align: end;">
                                            <img style="width:0.8rem"
                                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/tick-indicator.png">
                                        </div>
                                        <div *ngIf="(message.messageNotDelivered === !true) && (message.type === 'regular') && (message.isEdited === !true)"
                                            style="margin-top: -4px; margin-bottom: -4px; text-align: end;">
                                            <div>
                                                <img style="width:0.8rem"
                                                    src="../../../../assets/images/ui/Medical-Personnel-Module/icons/double-tick-indicator.png">
                                            </div>
                                        </div>
                                        <div *ngIf="(message.type === 'offline') && (message.messageNotDelivered === !true)"
                                            style="margin-top: -4px; margin-bottom: -4px;text-align: end;">
                                            <img style="width:0.8rem"
                                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/double-tick-indicator.png">
                                        </div>
                                        <div *ngIf="(message.type === 'regular') && (message.isRead === !true)"
                                            style="margin-top: -4px; margin-bottom: -4px; text-align: end;">
                                            <div>
                                                <!--*ngIf="(messageDelivered === !true)"-->
                                                <img style="width:0.8rem"
                                                    src="../../../../assets/images/ui/Medical-Personnel-Module/icons/double-tick-indicator.png">
                                            </div>
                                        </div>
                                        <div *ngIf="(message.type === 'SingleImage') && (message.isRead === false)"
                                            style="margin-top: -4px; margin-bottom: -4px;text-align: end;">
                                            <img style="width:0.8rem"
                                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/double-tick-indicator.png">
                                        </div>
                                        <div *ngIf=" (message.messageNotDelivered === true) && (message.type === 'reply') && (message.isRead === false)"
                                            style="margin-top: -4px; margin-bottom: -4px;text-align: end;">
                                            <img style="width:0.8rem"
                                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/double-tick-indicator.png">
                                        </div>
                                        <div *ngIf="(message.type === 'offline') &&(message.isRead === !true) && (message.messageNotDelivered === !true)"
                                            style="margin-top: -4px; margin-bottom: -4px;text-align: end;">
                                            <img style="width:0.8rem"
                                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/double-tick-indicator-read.png">
                                        </div>
                                        <div *ngIf="message.isRead && (message.type === ('reply') || 
                                                                        message.type === ('SingleImage') || 
                                                                        message.type === ('regular'))"
                                            style="margin-top: -4px; margin-bottom: -4px;text-align: end;">
                                            <img style="width:0.8rem"
                                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/double-tick-indicator-read.png">
                                        </div>

                                        <mat-menu #menu="matMenu" xPosition="before" class="menudata">
                                            <button mat-menu-item (click)="openImg(i)"
                                                *ngIf="(message.attachments && message.attachments.length)">
                                                <span>Preview</span>
                                            </button>
                                            <button mat-menu-item (click)="downloadImg(message,i)"
                                                *ngIf="(message.attachments && message.attachments.length)">
                                                <span>Download</span>
                                            </button>
                                            <button mat-menu-item (click)="editMessage(message,i)"
                                                *ngIf="(!message.attachments)">
                                                <span>Edit</span>
                                            </button>
                                            <button mat-menu-item (click)="deleteForMeMessage(message,i)">
                                                <span>Delete For Me</span>
                                            </button>
                                            <button mat-menu-item (click)="deleteMessage(message,i)">
                                                <span>Delete For EveryOne</span>
                                            </button>
                                            <button mat-menu-item (click)="replyMessage(message,i)">
                                                <span>Reply</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div
                                    style="line-height: 3;margin:4px;border-radius: 50% !important;width: 30px;height: 30px;">
                                    <img style=" border: none;border-radius: 50%;width: 30px;height: 30px;min-width: 30px;min-height: 30px;"
                                        src="{{baseURL+patient.patient.doctorDetails.profile.userProfile.profilePic}}"
                                        onerror="this.src='../../../assets/images/ui/Icons/1x/profile-1.png';">
                                </div>
                            </div>

                            <div class="message-row other-message" *ngIf="message.userID !== userID">
                                <div
                                    style="line-height: 4;margin:4px;border-radius: 50% !important;width: 30px;height: 30px;">
                                    <img style=" border: none;border-radius: 50%;width: 30px;height: 30px;min-width: 30px;min-height: 30px;"
                                        src="{{baseURL+patient.patient.patientDetails.profilePic}}"
                                        onerror="this.src='../../../assets/images/ui/Icons/1x/profile-1.png';">
                                </div>
                                <div class="message-content">
                                    <div class="top-data">
                                        <div class="messager-name">{{patient.patient.patientDetails.firstName}}</div>
                                        <div class="message-time">{{message.timeStamp | date: 'dd/MM h:mm a'}}</div>
                                    </div>
                                    <div class="message-text" [ngClass]="{'custom-margin': isLast}"
                                        style="background: rgba(243, 241, 241, 0.9);">

                                        <div style="text-align: end;margin-top: -2px;"><img class="menu"
                                                [matMenuTriggerFor]="menu" style="width: 0.7rem;cursor: pointer;"
                                                src="../../../../assets/images/ui/Medical-Personnel-Module/icons/down-arrow.png">
                                        </div>

                                        <div *ngIf="(message.type === 'reply')" style="background: #eed8be;
                                        border-radius: 5px;border-left: 4px solid #FFA500;
                                            padding: 0 0 0 5px;margin-bottom: 3px;">
                                            <div style="color: rgb(110, 108, 108);"
                                                *ngIf="!message.message1.startsWith('http')">
                                                <b>&quot;</b> {{message.message1}}</div>
                                            <div style="color: white;padding-top: 5px;"
                                                *ngIf="message.message1.startsWith('http')">
                                                <img style="border-radius: 10px;width: 3rem;height: 3rem;"
                                                    src="{{message.message1}}"
                                                    onerror="this.src='../../../../assets/images/ui/Icons/patient-medical-module/Icon metro-cancel@2x.png';">
                                            </div>
                                            <div style="color: #ff9100; font-size: 10px;font-weight: 600;">
                                                {{message.recipientRepliedName}}</div>
                                        </div>
                                        <div style="max-height: 200px;overflow-y: hidden;"
                                            *ngIf="(message.attachments && message.attachments.length)">

                                            <img src="{{baseURL+message.attachments[0].filePath}}" class=""
                                                onerror="this.src='../../../../assets/images/ui/Icons/patient-medical-module/Icon metro-cancel@2x.png';"
                                                style="border-radius: 0px;">
                                            <!-- <img [src]="_album.src"> -->
                                        </div>
                                        <div *ngIf="!message.attachments" style="margin-top: -4px;">
                                            {{message.message}}
                                        </div>
                                        <mat-menu #menu="matMenu" xPosition="before" class="menudata">
                                            <!-- (click)="downloadImg(message,i)"-->
                                            <button mat-menu-item (click)="openImg(i)"
                                                *ngIf="(message.attachments && message.attachments.length)">
                                                <span>Preview</span>
                                            </button>
                                            <button mat-menu-item (click)="downloadImg(message,i)"
                                                *ngIf="(message.attachments && message.attachments.length)">
                                                <span>Download</span>
                                            </button>
                                            <button mat-menu-item (click)="deleteForMeMessage(message,i)">
                                                <span>Delete For Me</span>
                                            </button>
                                            <button mat-menu-item (click)="replyMessage(message,i)">
                                                <span>Reply</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form [formGroup]="sendMessageForm" style="position: relative;">
                        <div style="position: absolute;top: -25px;">
                            <!--style="margin-top:-30px;"-->
                            <label *ngIf="typingOccured"
                                style="font-size: 10px;font-weight: 500;">{{patient.patient.patientDetails.firstName}}
                                is typing...</label>
                            <!--class="spinner-grow text-primary"-->
                        </div>
                        <div class="form-group" style="margin-bottom: 0px ;">
                            <div style="margin-top: -30px;" *ngIf="(viewReplyMsg)">
                                <div style="margin-bottom: 0px ;">
                                    <div id=chat-form style="height: 50px;background: #3e454c;">
                                        <div class="container">
                                            <div class="row" *ngIf="(replyImg) && (replyImg)"
                                                style="justify-content: center;">
                                                <div class="col-5" style="padding: 4px;">
                                                    <div style="background: #bdbbbb;
                                                    border-radius: 5px;border-left: 4px solid #FFA500;
                                                        padding: 0 0 0 5px;margin-bottom: 3px;">
                                                        <div class="row">
                                                            <span style="padding: 2px 0 2px 20px;border: none;font-size: 10px;
                                                font-weight: 600;color: #FFA500;border: #CCCCCC;">
                                                                {{replyMessageFormObj.showName}}
                                                            </span>
                                                        </div>
                                                        <div class="row">
                                                            <span style="padding: 2px 0 2px 20px;border: none;font-size: 10px;
                                                font-weight: 500;color: black;border: #CCCCCC;">
                                                                {{replyMessageFormObj.typedMessage}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-5" style="text-align: end;">
                                                    <img style="border-radius: 10px;width: 3rem;height: 3rem;"
                                                        src="{{replyImg}}"
                                                        onerror="this.src='../../../../assets/images/ui/Icons/patient-medical-module/Icon metro-cancel@2x.png';">
                                                </div>
                                                <div class="col-2" style="align-self: center ;padding: 8px; ">
                                                    <img style="width: 1.5rem;cursor: pointer !important;"
                                                        (click)="closeReply()"
                                                        src="../../../../assets/images/ui/Icons/1x/ic_cancel.png">
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="(replyImg === '')" style="justify-content: center;">
                                                <div class="col-9" style="background: #bdbbbb;
                                                border-radius: 5px;border-left: 4px solid #FFA500;
                                                    padding: 0 0 0 5px;margin-bottom: 3px;">
                                                    <div class="row">
                                                        <span style="padding: 2px 0 2px 20px;border: none;font-size: 10px;
                                            font-weight: 600;color: #eb390d;border: #CCCCCC;">
                                                            {{replyMessageFormObj.showName}}
                                                        </span>
                                                    </div>
                                                    <div class="row">
                                                        <span style="padding: 2px 0 2px 20px;border: none;font-size: 10px;
                                            font-weight: 500;color: black;border: #CCCCCC;">
                                                            {{replyMessageFormObj.typedMessage}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-2"
                                                    style="align-self: center;padding: 8px 0px 8px 20px;">
                                                    <img style="width: 1.5rem;cursor: pointer !important;"
                                                        (click)="closeReply()"
                                                        src="../../../../assets/images/ui/Icons/1x/ic_cancel.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id=chat-form>
                                <textarea (keyup)="isTypingByMe()" (keydown.enter)="sendChatMessages()" id='theInputVal'
                                    class="form-control" formControlName="typedMessage" style="padding: 15px 0 2px 10px;border: none; resize: none;font-size: 12px;
                                    font-weight: 600;color: #404041;border: #CCCCCC;"
                                    placeholder="Type a Message..."></textarea>
                                <input type="file" class="form-control" name="file" id="inputGroupFile01" #fileInput
                                    aria-describedby="inputGroupFileAddon01" (change)="fileProgress($event)"
                                    class="d-none">
                                <!--accept=".png, .jpg, .jpeg"-->
                                <img style="width: 1rem;cursor: pointer;padding: 2px; " (click)="compressFile()"
                                    src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon metro-attachment.png">
                                <img style="width: 1.2rem;margin-right: 10px;cursor: pointer;padding: 2px;"
                                    (click)="sendChatMessages()"
                                    src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon ionic-ios-send.png">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container">
                <!--top: 0;right: 0;bottom: 0;left: 0;-->
                <div *ngIf="previewImgDemo">
                    <div style="text-align: end;">
                        <img style="width: 1.3rem;" (click)="closeImgPreview()"
                            src="../../../../assets/images/ui/Icons/1x/cancel.png">
                    </div>
                    <div *ngFor="let image of _album; let i=index">
                        <div style="width: 100%;height: 50%;min-height: 70%;">
                            <!--position: absolute;-->
                            <img [src]="image.src" style="max-height: 65vh;                           
                            width: 100%;
                            padding: 10px 20px; ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" flex-shrink-1 bd-highlight" style="width: 18%;">
        <div class="" style="padding: 0px;">
            <!--background: #F5F8FA;-->
            <ul
                style="margin-left: auto; text-align: center;padding-top: 1px; height: 80vh; width: auto;background: #F5F8FA;">
                <li style="text-align: center;" [ngClass]="{ 'active' : isValue == 1 }" (click)="openGeneralInfo()">
                    <img style=" width: 2rem; padding: 3px;"
                        src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon-awesome-user-circle.png">
                </li>
                <li style="text-align: center;" [ngClass]="{ 'active' : isValue == 2 }" (click)="openPatientInfo()">
                    <img style="width: 1.5rem;padding: 3px;"
                        src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon-awesome-file-alt.png">
                </li>
                <li style="text-align: center;" [ngClass]="{ 'active' : isValue == 3 }" (click)="openFile()">
                    <img style="width: 1rem;padding: 2px;"
                        src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon material-attach-file.png">
                </li>
                <li style="text-align: center;" [ngClass]="{ 'active' : isValue == 4 }" (click)="openChat()">
                    <img style="width: 1.7rem;padding: 2px;"
                        src="../../../../assets/images/ui/Medical-Personnel-Module/icons/Icon ionic-ios-chatbubbles.png">
                </li>
                <li style="text-align: center;" [ngClass]="{ 'active' : isValue == 5 }"
                    (click)="clearMessage(clearChatModelContent)">
                    <img style="width: 1.7rem;padding: 2px;"
                        src="../../../../assets/images/ui/Medical-Personnel-Module/icons/ic_clear chat1.png">
                </li>
            </ul>
        </div>

    </div>
</div>



<ng-template #clearChatModelContent let-modal>
    <div class="modal-body" style="height: 10vh;font-size: 12px;font-size: 500;">
        Are you sure you want to clear messages in this chat?
    </div>
    <div class="modal-footer justify-content-center" style="border-top: none;">
        <div style="text-align: end;" class="py-2">
            <div style="display: flex; justify-content: center; padding-bottom: 5px;">
                <!--*ngIf="isLoading"-->
                <!-- <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" [diameter]="30">
                </mat-progress-spinner> -->
            </div>
            <button class="btn btn-sm mr-3" style="border: 1px solid #707070; font-weight: 500;font-size: 12px; background-color: white; 
                color: black;height: 30px;border-radius: 10px;line-height: 1;padding: 0px 20px;"
                (click)="modal.close('Close click')">Cancel
            </button>
            <button class="btn btn-sm"
                style="outline-style: none; font-weight: 500;font-size: 12px; background-color: #53B9C6; color: white;height: 30px;line-height: 1;border-radius: 10px;padding: 0px 20px;"
                (click)="callClearMessages()">Clear
            </button>
        </div>
    </div>
</ng-template>